.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    color: black;
}

.faq-container {
    display: flex;
    flex-direction: row;
    width: 1168px;
    height: 344px;
    gap: 132px;
}

.faq-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    gap: 16px;
}

.faq-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    gap: 16px;
}

.faq-title h1 {
    width: fit-content;
    height: fit-content;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.faq-title p {
    width: fit-content;
    height: fit-content;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.faq-accordion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}