.black-screen {
    position: absolute;
    width: 100%;
    height: 380vh;
    background-color: #000000;
    z-index: 2;
    top: -600px;
    opacity: 0.6;
    transition: background-color 0.3s;
}

.search-car-container {
    position: relative;
}

.search-car-content {
    max-width: 1047px;
    margin: 0 auto;
    height: 106px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px;
    bottom: 50px;
    position: relative;
    z-index: 3;
    box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.1);
}

.search-car-content form {
    width: 100%;
}

.form-label{
    font-size: 12px;
    font-weight: 300;
    color: #3C3C3C;
    font-family: 'Rubik', sans-serif;
}

.form-control-custom::placeholder{
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    font-family: 'Rubik', sans-serif;
}

.form-control-custom-select.form-select{
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    font-family: 'Rubik', sans-serif;
    line-height: 2;
}

.custom-select-option{
    padding: 10px 12px;
}

.search-car-button {
    padding: 9px 12px;
    background-color: #5CB85F;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.align-items-end .col {
    display: flex;
    flex-direction: column;
}

.col-md-1{
    width: 12%;
}


.search-car-bar {
    display: flex;
    gap: 10px;
}

.group-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-field {
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Rubik';
    color: #999999;
}

.input-field:focus{
    border: 1px solid #5CB85F;
}

.input-field select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
}

.search-car-bar .group-form select option{
    background-color: #ffffff;
    height: 36px;
    padding: 8px;
    font-size: 14px;
    font-family: "Rubik";
}

.search-car-bar .group-form select option:hover{
    box-shadow: 0 0 10px 100px green inset;
}

.search-car-button  {
    height: 36px;
    border: none;
    border-radius: 5px;
    background-color: #5CB85F;
    color: #fff;
    cursor: pointer;
    align-self: flex-end;
}

.search-car-button :hover {
    background-color: #218838;
}

.search-car-bar label{
    font-family: "Rubik";
    font-size: 12px;
    color: #3C3C3C;
    margin-bottom: 5px;
}

.group-form input:disabled{
    background-color: #D0D0D0;
}

.group-form select:disabled{
    background-color: #D0D0D0;
}


@media screen and (max-width:768px) {
    .search-car-content{
        bottom: 10px;
        max-width: 500px;
        height: 350px;
        
    }

    .search-car-bar{
        flex-direction: column;
    }
}
    @media screen and (max-width:450px) {
        .search-car-content{
            margin:0 20px;
        }
    }