.cart-detail-car{
    max-width: 1047px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap:32px
}

.cart-detail-car p{
    margin-bottom: 8px;
}

.cart-detail-car-text{
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
    width: 60%;
    font-size: 14px;
    color: #8A8A8A;
    padding: 24px;
    border-radius: 8px;
}

.cart-detail-car-text p{
    font-weight: bold;
    color: #000000;
}

.cart-detail-car-image{
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 40%;
    padding: 0px 24px;
    display:flex;
    flex-direction: column;
}

.cart-detail-car-image-detail {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    height: 240px;
}

.cart-detail-car-image-detail img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-detail-car-image p{
    margin-bottom: 0;
}

.cart-detail-car-image div:nth-child(3){
    display: flex;
    font-size: 10px;
    color: #8A8A8A;
    align-items: center;
    gap: 4px;
    margin-bottom: 55px;
}

.cart-detail-car-image div:nth-child(4){
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
