
.footer-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    
    /* margin: 100px 163px 100px 136px; */
    padding-top: 100px;
    padding-left: 163px;
    padding-right: 136px;
    gap: 86px;
}

.footer-address {
    display: flex;
    flex-direction: column;
    width: 268px;
    gap: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.footer-nav a {
    text-decoration: none;
    color: black;
}

.footer-social-container {
    display: flex;
    flex-direction: column;
    width: 268px;
    gap: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.footer-social-icon {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 32px;
    height: 32px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    width: 268px;
    gap: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.footer-logo img {
    margin: 0!;
    padding: 0!;
    display: flex;
    width: 100px;
}